*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    background: #c6e7ee;
    padding: 50px;
    display: block;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #f1f1f1;
    border-radius: 11px;
}
.center h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1.5px solid rgb(117, 20, 20);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #c8b8b8;
    margin: 35px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 17px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #aba9a9;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(3, 5, 109);
    transition: .3s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: darkblue;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}
input[type="submit"]{
    width: 400px;
    height: 50px;
    border: 1px solid;
    background: #05073a;
    border-radius: 25px;
    font-size: 18px;
    color: rgb(237, 233, 233);
    font-weight: 500;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: rgb(72, 105, 182);
    transition: .3s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: rgb(72, 105, 182);
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}